.page{
  background-color:#2A2C2F;
  min-height:100vh;
  width:100vw;
  padding-top: 28px;
}

@media screen and (max-width:320px){
  .page{
    padding-top: 16px;
  }
}
@media screen and (max-width:425px){
  .page{
    padding-top: 18px;
  }
}