@media screen and (min-width:1280px){
  .header__links{
    margin-top: 0;
    align-self: center;
  }
}

@media screen and (max-width:320px){
  .header__links{
    margin-top: 0;
  }
}
@media screen and (max-width:425px){
  .header__links{
    align-self: flex-end;
  }
}
@media screen and (max-width:1024px){
  .header__links{
    align-self: flex-end;
  }
}