.map__bg{
  max-width:100%;
  object-fit: cover;
}


@media screen and (max-width:768px){
  .map__bg{
    margin: 0;
  }
}
@media screen and (max-width:1024px){
  .map__bg{
    max-height: 580px;
  }
}
@media screen and (max-width:320px){
  .map__bg{
    margin-bottom: 8px;
  }
}