.map__text{
  padding: 0;
  border: 0;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width:768px){
  .map__text{
    margin-left: 24px;
  }
}
@media screen and (max-width:320px){
  .map__text{
    margin-left: 16px;
  }
}