.footer{
  margin: 0 auto;
  max-width: 1184px;
  margin-top: 92px;
  width:100%;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width:1023px){
  .footer{
    margin-top: 88px;
  }
}

@media screen and (max-width:720px){
  .footer{
    margin-top: 64px;
  }
}